
.c-hint--static {
  position: relative;
}

.c-hint p {
  margin: 0;
}

.c-nav__item {
  text-overflow: ellipsis;
  overflow: hidden;
}

.c-tree__item--expandable:not(.c-tree__item--expanded) .c-tree {
  display: none;
}
